* {
    padding: 0;
    margin: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
}

.side-panel {
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    font-family: 'TT Lakes', sans-serif;
    width: 320px;
    background-color: white;
}

header {
    width: 320px;
    background: white;
    display: flex;
}
.head {
    display: flex;
    margin: 18.73px 24px 18.73px 24px;
}

.menu-icon__background {
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    border: 0px;
    align-self: center;
}
.menu-icon__background:hover {
    opacity: 0.3;
    transition-duration: 0.5s;
}

.menu-icon__CPS {
    margin-right: auto;
    background-image: url("ic/Group.svg");
    width: 96.55px;
    height: 50.81px;
    margin-left: 16.73px;
}
.menu-icon__search {
    background-image: url("ic/looks.svg");
    background-repeat: no-repeat;
    background-position: center;
    align-content: flex-end;
    margin-right: 0;
    margin-left: 78.73px
}

.menu-icon__cancel {
    background-image: url("ic/cancel.svg");
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-icon__call {
    background-image: url("ic/call.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.menu-icon__chat {
    background-image: url("ic/chat.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.menu-icon__profile {
    background-image: url("ic/profile.svg");
    background-repeat: no-repeat;
    background-position: center;
}





main {
    width: 220px;
    height: 900px;
    background-color: white;
    margin: 30px 0 0 0;
}
.list_name {
    display: flex;
}
p {
    margin: 4px 0 0 24px;
    color: #7E7E82;
}
.list_name__text {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
}

.content__list {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin-left: 24px;
    color: #1B1C21;
}

.title__button {
    margin-top: 0px;
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border: none;
}

.content__list--item {
    margin: 32px 0 0 0;
}
.content__list--item:first-child {
    margin-top: 28px;
}
.contact {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 268px 0px 0px 24px;
}
.contact__icons {
    margin: 0 16px 16px 0;
}
.contact__phone-number {
    font-family: "TT Lakes";
    font-size: 24px;
    line-height: 32px;
    color: #1B1C21;
    white-space: nowrap;
    margin-bottom: 40px;
}
.contact__email {
    margin: 0px 0px 12px 0px;
}
.language {
    display: flex;
}
.language__ru {
    color: #7E7E82;
    margin-right: 7px;
    margin-bottom: 32px;
}
.language__en {
    color: #1B1C21;
    margin-right: 7px;
}
.language__ch {
    color: #1B1C21;
    margin-right: 7px;
}